# MQTT Settings
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_UPLINK_TOPIC=Intellidb/rfid/gr/uplink
MQTT_DOWNLINK_TOPIC=Intellidb/rfid/gr/downlink

# Flask Settings
FLASK_PORT=4501
FLASK_DEBUG=false

# AWS Settings
AWS_REGION=us-east-1
DYNAMODB_RFID_TABLE=rfid-gate-intelligence-rfid-events
DYNAMODB_HEALTH_TABLE=rfid-gate-intelligence-health-events